ports/*/*.tar*
ports/*/*.tgz*
ports/test
ports/*/*.rar*
ports/*/*.zip*
ports/*/*.rpm*
ports/*/*.img*
ports/*/*.t3g*
ports/*/*.bin*
ports/*/*.run*
ports/*/*msi*
ports/*/*iso*
ports/*/*xz
ports/*/*gz
archived/*/*.tar*
archived/*/*.tgz*
archived/*/*.rar*
archived/*/*.zip*
archived/*/*.rpm*
archived/*/*.img*
archived/*/*.t3g*
archived/*/*.bin*
archived/*/*.run*
archived/*/*msi*
archived/*/*iso*
archived/*/*xz
archived/*/*gz
scripts/*iso
scripts/*tar.xz
scripts/*tar.gz
scripts/result
scripts/unused
scripts/reloc
scripts/travis
scripts/noname
tarballs
ports/vid.stab/vid.stab
ports/gn/gn
ports/libuargp/libuargp
ports/x264/x264
ports/gettext-tiny/gettext-tiny
ports/iputils/iputils
ports/xcb-imdkit/xcb-imdkit
ports/fcitx5/fcitx5
ports/slstatus/slstatus
ports/libclc/libclc
ports/xf86-video-intel/xf86-video-intel
ports/libvterm/libvterm
ports/libime/libime
ports/fcitx5-gtk/fcitx5-gtk 
ports/fcitx5-chinese-addons/fcitx5-chinese-addons
ports/gettext-tiny/gettext-tiny
archived/grub/grub-extras
ports/wl-clipboard/wl-clipboard
